*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.header{
  display: flex;
}

.days-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 1050px;
  margin-top: 30px;
}

.box{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100px;
  border: 1px solid #ddd;
  padding: 10px;
}

.holiday-name{
  align-self: flex-end;
  margin-top: auto;
}

.fas{
  font-size: 30px;
  margin: 5px 10px;
  cursor: pointer;
}

.holiday{
  color:red;
  background-color: #F7EEFD;
}
