*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

.body{
  height: 100vh;
  width: 100vw;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.header{
  display: flex;
}

.days-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 1052px;
  margin-top: 30px;
}

.box{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100px;
  border: 1px solid transparent;
  padding: 5px;
  overflow-y: hidden;
  box-shadow: inset 0 0 5px;
}

.holiday-name{
  align-self: flex-end;
  margin-top: auto;
}

.fas{
  font-size: 30px;
  margin: 5px 10px;
  cursor: pointer;
}

.highlight-today{
  background-color: #E0ECF4;
}

.holiday{
  color:red;
  background-color: #F7EEFD;
}
